@font-face {
    font-family: fuenteDila;
    src: url("#{resource['fuentes/DancingScript-Bold.ttf']}");
}
@font-face {
    font-family: amiri;
    src: url("#{resource['fuentes/Amiri-BoldSlanted.ttf']}");
}
.top{
    display: flex;
    min-height: 100px;
    width: 100%;
    background-color: white;
    padding: 5px;
    align-items: flex-start;
    background: linear-gradient(to bottom, rgba(102, 183, 230, 0.45), rgb(241, 241, 241));
}
.content{
    display: flex;
    flex-direction: row;
    min-height: 400px;
    justify-content: center;
    background-image: url("#{resource['imagenes/fondoi4.png']}");
    width: 100%;
}
.content-left{
    width: 20%;
    background-color: #ece3a5;
    padding: 5px;
}
.content-center{
    width: 80%;
    background-color: #dddddd;
    padding: 5px;
}
.buttom{
    display: flex;
    width: 100%;

    padding: 5px;
    border-top: 5px solid #BEBEC1;
    background: linear-gradient(to bottom, rgba(9, 89, 130, 0.45),rgb(241, 241, 241));
}
.contenedor-top1{
    background-size: cover;
    width: 15%;
    display: inline-flex;
    justify-content: center;

}
.contenedor-top2{
    justify-content: center;
    width: 65%;
    display: block;
}
.contenedor-top3{
    background-size: cover;
    width: 20%;
    display: inline-flex;
    justify-content: center;
}
.nombre-colegio-plantilla{
    text-align: center;
    font-size: 35px;
    margin-top: 72px;
    font-family: fuentedila;
    font-style: italic;
    color: dimgray;
    font-weight: bold;
    margin-top: auto
}
.nombre-sf-plantilla{
    text-align: center;
    font-size: 35px;
    margin-top: 72px;
    font-family: fuentedila;
    font-style: italic;
    color: dimgray;
    font-weight: bold;
    margin-top: auto
}
.div-foto-menup{
    width: 150px;
    height: 170px;
    margin: auto;
    background-image: url("#{resource['imagenes/dila1.png']}");
    background-repeat: no-repeat;
}
.saludo{
    text-align: center;
    font-size: 75px;
    margin-top: 40px;
    margin-left: 5%;
    font-family: fuentedila;
    font-style: italic;
    color: #000;
    font-weight: bold;
    display: block;
    width: 100%;
}
.saludo-nombre{
    text-align: center;
    font-size: 30px;
    margin-top: 48px;
    margin-left: 5%;
    font-family: fuentedila;
    font-style: italic;
    color: #000;
    font-weight: bold;
    display: block;
    width: 100%;
}
.footer-span-titulos{
    width: 100%;
    text-align: center;
    color: #231F1F;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: imari;
    font-weight: bold;
    font-style: oblique;
}
.footer-span{
    width: 100%;
    text-align: center;
    color: #1D1C1C;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 4px;
    font-family: imari;
    font-style: italic;
}
.footer-div-30{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: imari;
}
.footer-div-40{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: imari;
    border-left: 2px solid rgba(243, 242, 242, 0.5);
    border-right: 2px solid rgba(243, 242, 242, 0.5);
}

@media screen and (max-width: 680px){
    .contenedor-top1{
        background-image: url("#{resource['imagenes/escudo2.png']}");
        background-size: cover;
        width: 30%;
        display: none;
    }
    .nombre-colegio-plantilla{
        text-align: center;
        font-size: 30px;
        margin-top: 72px;
        font-family: amiri;
        font-style: italic;
        color: dimgray;
        font-weight: bold;
        margin-top: auto
    }
    .contenedor-top2{

        width: 100%;
        display: block;
    }
    .contenedor-top3{
        background-image: url("#{resource['imagenes/escudou.png']}");
        background-size: cover;
        width: 30%;
        display: none;
    }
}
@media screen and (max-device-width: 680px){
    .contenedor-top1{
        background-image: url("#{resource['imagenes/escudo2.png']}");
        background-size: cover;
        width: 30%;
        display: none;
    }
    .nombre-colegio-plantilla{
        text-align: center;
        font-size: 30px;
        margin-top: 72px;
        font-family: serif;
        font-style: italic;
        color: dimgray;
        font-weight: bold;
        margin-top: auto
    }
    .contenedor-top2{

        width: 100%;
        display: block;
    }
    .contenedor-top3{
        background-image: url("#{resource['imagenes/escudou.png']}");
        background-size: cover;
        width: 30%;
        display: none;
    }
}
.titulos-top2{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
@media screen and (max-width: 580px) {
    .buttom{
        display: flex;
        min-height: 130px;
        width: 100%;
        flex-direction: column;
        padding: 5px;
        border-top: 5px solid #BEBEC1;
        background: linear-gradient(to bottom, rgba(9, 89, 130, 0.45),rgb(241, 241, 241));
    }
    .footer-div-30{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: imari;
    }
    .footer-div-40{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: imari;
        border-left: 2px solid rgba(243, 242, 242, 0.5);
        border-right: 2px solid rgba(243, 242, 242, 0.5);
    }
}
