/* formulario */
.container-form{    
    /*max-width: 500px;*/
    width: 50%;
    display: block;
    margin: 50px auto;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000;
    min-height: 300px;
    padding: 20px;
    padding: 5px;
}

.container-form.container-form-medium{    
    max-width: 600px;
}

.container-form h3{
    text-align: center;
    border-bottom: 1px solid #000;
    vertical-align: middle;
    margin: 0;
    line-height: 40px;
}

.cont-control{
    
}

.cont-control>*{
    display: inline-block;
}


.cont-control, .cont-control tbody, .cont-control tr{
    width: 100%;
    display: block;
}

table.cont-control td{
    display: inline-block;
}


table.cont-control td *{
    width: 100%;
}
/*label*/
table.cont-control td:first-child{
    width: 30%;
    text-align: right;
}
/*control*/
table.cont-control td:last-child{
    width: 60%;
    text-align: left;
}


/* generales */
.horizontal-center{
    margin-left: auto;
    margin-right: auto;
}

.cont-panel{
    margin-left:  20px;
    margin-right: 20px;
}
.btn-new{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: right;
}
.div-form{
    max-width: 600px;
    margin: 33px auto;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000;
    min-height: 300px;
    padding: 20px;
}
.div-form h3{
    text-align: center;
    border-bottom: 1px solid #000;
    vertical-align: middle;
    margin: 0;
    line-height: 40px;
}
.div-cont-matricula{
    width: 50%;
    margin: 10px auto;
}
@media screen and (max-device-width: 480px) {
  .container-form{    
    width: 80%;
    display: block;
    margin: 50px auto;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000;
    min-height: 300px;
    padding: 20px;
    padding: 5px;
}
}
@media screen and (max-width: 680px) {
  .container-form{    
    width: 90%;
    display: block;
    margin: 50px auto;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000;
    min-height: 300px;
    padding: 20px;
    padding: 5px;
}
}